.header.reveal {
    transition: all 1s ease;
    /* Adjust duration and easing as desired */
    animation: slideIn 0.5s ease;
}

@keyframes slideIn {
    from {
      transform: translateY(-100%); /* Start outside the viewport */
    }
    to {
      transform: translateY(0); /* End at the top of the viewport */
    }
  }